body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}

#section-banner {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  margin-top: 0;
}

#banner {
  justify-content: center;
  padding-top: 200px;
}

#banner-title {
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
}

#banner-para {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.donate-btn {
  text-decoration: none;
  background-image: linear-gradient(red, tomato);
  padding: 25px 40px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 25px;
}

#section-donate-today {
  height: 1000px;
}

.donate-container {
  text-align: center;
  padding-top: 150px;
}

.donate-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.donate-para {
  color: gray;
  font-size: 25px;
  text-align: center;
}

#donate-amount-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.donate-amount {
  background-color: rgba(220, 220, 220, 0.452);
  padding: 60px 50px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  font-size: 25px;
}

#donate-amount5 {
  background-color: rgba(237, 200, 200, 0.452);
  padding: 60px 50px;
  border-radius: 10px;
  color: red;
  font-weight: 700;
  font-size: 25px;
  border: 2px solid red;
}

.donate-input {
  justify-content: center;
  margin-bottom: 70px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(224, 222, 222);
  width: 800px;
  text-align: center;
  font-size: 25px;
}

::placeholder {
  color: rgb(190, 187, 187);
}

input[type="email"] {
  height: 50px;
  width: 400px;
  background-color: rgb(235, 231, 231);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.email-input::placeholder {
  font-size: 17px;
  padding-left: 25px;
}

.donate-container2 {
  text-align: center;
}

#volunteer-container {
  width: 600px;
  margin-right: 200px;
}

#volunteer-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

#volunteer-para {
  color: gray;
  font-size: 25px;
  text-align: center;
}

#section-donate-plan {
  height: 800px;
  margin-bottom: 0;
}

#plan-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.plan-food {
  height: 350px;
  width: 470px;
  padding: 60px 5px 10px 5px;
  background-color: rgb(219, 236, 236);
  border-radius: 5px;
}

.plan-shelter {
  background-color: rgb(249, 229, 233);
}

.plan-education {
  background-color: rgb(249, 249, 226);
}

.plan-title {
  font-size: 30px;
  font-weight: bold;
}

.plan-text {
  color: gray;
  font-size: 25px;
}

#section-joinus {
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.joinus-img {
  width: 400px;
}

.joinus-img img {
  border: 10px solid white;
  border-radius: 25px;
  padding-left: 40px;
}

.subscribe-btn {
  height: 52px;
  width: 200px;
  background-image: linear-gradient(red, tomato);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 13.3px;
  border: none;
  margin-left: -4px;
}

footer {
  height: 200px;
  background-color: black;
}

footer h5 {
  color: coral;
  font-size: 35px;
  font-style: italic;
  padding-top: 60px;
  margin-bottom: 0;
}

footer p {
  color: white;
  font-size: 20px;
}

#section-myupdates {
  margin-bottom: 100px;
}

.yellow-subs {
  background-color: rgb(251, 251, 202);
  width: 900px;
  padding: 120px 0px;
}

#subscription-container {
  display: flex;
  justify-content: center;
}